@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /* Canva Easter Egg Nest  */

  --bg-primary: #d3b5e5;
  --bg-secondary: #bbe7fe;
  --txt-primary: #eff1db;
  --txt-secondary: #ffd4db;
  --transition: all 0.5s ease;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.7;
  color: var(--txt-primary);
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 600;
}

a {
  text-decoration: none;
  color: var(--txt-primary);
  transition: var(--transition);
}

a:hover {
  color: var(--txt-secondary);
}

img {
  max-width: 100%;
  height: auto;
}

.section-padding {
  padding-top: 140px;
  padding-bottom: 140px;
}

/* NAV */

.navbar {
  background-color: var(--bg-primary);
}

.nav-link {
  text-decoration: none;
  color: var(--txt-primary);
  transition: var(--transition);
}

.nav-link:hover {
  color: var(--txt-secondary);
}
