:root {
  /* Canva Easter Egg Nest  */

  --bg-primary: #d3b5e5;
  --bg-secondary: #bbe7fe;
  --txt-primary: #eff1db;
  --txt-secondary: #ffd4db;
  --transition: all 0.5s ease;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.7;
  color: var(--txt-primary);
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 600;
}

img {
  max-width: 100%;
  height: auto;
}

.section-padding {
  padding-top: 140px;
  padding-bottom: 140px;
}

/* NAV */

.nav-title {
  color: var(--txt-primary);
}
.nav-title:hover {
  color: var(--txt-secondary);
  transition: var(--transition);
}

.nav-color {
  background-color: var(--bg-primary) !important;
}

.nav-link {
  text-decoration: none;
  color: var(--txt-primary);
  transition: var(--transition);
}

.nav-link:hover {
  color: var(--txt-secondary);
}

.navbar-toggler {
  border: none;
}

/* Carousel */

.hero-heading h1 {
  position: relative;
  z-index: 12;
  margin-top: 5%;
  margin-left: 10%;
  color: var(--bg-primary);
  text-shadow: 5px 5px 5px black;
}
