:root {
  /* Canva Easter Egg Nest  */

  --bg-primary: #0c1446;
  --bg-secondary: #175873;
  --txt-primary: #87aca3;
  --txt-secondary: #2b7c85;
  --transition: all 0.5s ease;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.7;
  color: var(--txt-primary);
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 600;
}

img {
  max-width: 100%;
  height: auto;
}

.section-padding {
  padding-top: 140px;
  padding-bottom: 140px;
}

/* NAV */

.nav-title {
  color: var(--txt-primary);
}
.nav-title:hover {
  color: var(--txt-secondary);
  transition: var(--transition);
}

.nav-color {
  background-color: var(--bg-primary) !important;
}

.nav-link {
  text-decoration: none;
  color: var(--txt-primary);
  transition: var(--transition);
}

.nav-link:hover {
  color: var(--txt-secondary);
}

.navbar-nav .nav-link.active {
  color: var(--txt-secondary);
}

.navbar-toggler {
  border: none;
  color: var(--txt-primary);
}

/* Carousel */

.hero-heading h1 {
  position: relative;
  z-index: 12;
  margin-top: 5%;
  margin-left: 10%;
  color: var(--txt-primary);
  text-shadow: 5px 5px 5px black;
}

/* Footer */

.footer {
  display: flex;
  flex-direction: column;
  position: sticky;
  z-index: -1;
  bottom: 0;
  text-align: center;
  align-items: center;
  background-color: var(--bg-secondary);
  color: var(--txt-primary);
  padding: 3rem 5rem 0.25rem;
  text-shadow: 1px 1px 1px black;
}

/* Small Cats */

.color-wrapper-head {
  background-color: var(--bg-primary);
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--bg-secondary);
}

.sc-title {
  padding-block: 2rem;
  color: var(--txt-primary);
}

.sc-container {
  background-color: var(--bg-secondary);
  margin: 2rem;
  border: 2px solid var(--bg-primary);
}

.smallcat-content {
  color: var(--txt-primary);
  font-size: 1.125rem;
}
